<p>question works!</p>
<form class="row g-3" [formGroup]="QuestionForm" (ngSubmit)="AddQuestion()" style="width: 50%;margin-left: 30%;" >



  <label for="yourUsername" class="form-label">questionId</label>
  <div class="input-group has-validation">
     <span class="input-group-text" id="inputGroupPrepend"><i class="fa-solid fa-user"></i></span>
      <input type="text" placeholder="questionId" class="form-control" formControlName="questionId" required>
     </div>
      <label for="yourUsername" class="form-label">operation</label>
  <div class="input-group has-validation">
     <span class="input-group-text" id="inputGroupPrepend"><i class="fa-solid fa-user"></i></span>
      <input type="text" placeholder="operation" class="form-control" formControlName="operation" required>

</div>
<label for="yourUsername" class="form-label">number1</label>
  <div class="input-group has-validation">
     <span class="input-group-text" id="inputGroupPrepend"><i class="fa-solid fa-user"></i></span>
      <input type="text" placeholder="number1" class="form-control" formControlName="number1" required>
     </div>
     <label for="yourUsername" class="form-label">number2</label>
  <div class="input-group has-validation">
     <span class="input-group-text" id="inputGroupPrepend"><i class="fa-solid fa-user"></i></span>
      <input type="text" placeholder="number2" class="form-control" formControlName="number2" required>
     </div>
      <div class="col-12"> <button class="btn btn-primary w-100" type="submit" [disabled]="QuestionForm.invalid">Add Question</button></div>


</form>



<div>
<h2>List of Questions</h2>

<table class="table table-dark table-striped-columns">
  <thead>
    <tr style="font-weight: 200px; margin:1px;text-align: center;">

      <td>QuestionId</td>
      <td>Operation</td>
      <td>number1</td>
      <td>number2</td>
      <td></td>

    </tr>
  </thead>
  <tbody *ngFor="let t of questionList" >
    <tr style="text-align: center;">
      <td>{{t.questionId}}</td>
      <td>{{t.operation}}</td>
      <td>{{t.number1}}</td>
      <td>{{t.number2}}</td>



    </tr>
  </tbody>
</table>


</div>
