<button mat-raised-button style="margin-left: 2%;background-color:cornflowerblue;" routerLink="/dashboard/assignment"  >Add Assignment</button>
<button mat-raised-button style="margin-left: 2%;background-color:cornflowerblue;" routerLink="/dashboard/view">View Assignment</button>
<button mat-raised-button style="margin-left: 2%;background-color:cornflowerblue;" routerLink="/dashboard/student">Add student</button>
<button mat-raised-button style="margin-left: 2%;background-color:cornflowerblue;" routerLink="/dashboard/final">Add Assignment to the student</button>
