
<!--
<div style="width: 30%;margin-left: 30%;">
<h2>Student form</h2>
<form [formGroup]="studentForm" (ngSubmit)="add()">
<select class="form-ctrl form-control _select_arrow custom-select" formControlName="emailId" >
  <option value="">Select student<option>
  <option *ngFor="let country of studentList" value="{{ country.emailId }}">
    {{ country.name }}
  </option>
</select>
<div class="col-12"> <button class="btn btn-primary w-100" type="submit" [disabled]="studentForm.invalid">submit</button></div>
</form>
</div> -->

<!-- /////////////////////// -->

<p>final works!</p>
<form [formGroup]="studentForm1" (ngSubmit)="assignmentAdd()"   style="width: 30%;">
  <select class="form-ctrl form-control _select_arrow custom-select" formControlName="emailId" >
    <option value="">Select student<option>
    <option *ngFor="let country of studentList" value="{{ country.emailId }}">
      {{ country.name }}
    </option>
  </select>
  <select class="form-ctrl form-control _select_arrow custom-select" formControlName="assignmentId" >
    <option value="">Select Assignment<option>
    <option *ngFor="let country of AssignmentList" value="{{ country.assignmentId }}">
      {{ country.assignmentName }}
    </option>
  </select>

  <div class="col-12"> <button class="btn btn-primary w-100" type="submit" [disabled]="studentForm1.invalid">submit</button></div>
  </form>
